{% extends "::layout.html.twig" %}
{% block title %}
Catalogue - {{ parent() }}
{% endblock %}
{% block body %}
{# On définit un sous-titre commun à toutes les pages du bundle,
par exemple #}
<h1>Catalogue</h1>
<div>
<div class="well">
     <form>
<div class="filtre">
    <p>Filtrer</p>
<ul>
    <li><a href="#">Tag1</a></li>
    <li><a href="#">Tag2</a></li>
    <li><a href="#">Tag3</a></li>
</ul>
</div>
<div class="Tri">
    <p><p>Tri</p></p>
<ul>
    <li>Prix</li>
    <li>Poids</li> 
</ul>
</div>
 <form>

<div class="well">
    {% render(controller('BlogBundle:Produits:recherche')) %}
</div>
</div>
<hr>
{# On définit un nouveau bloc, que les vues du bundle pourront
remplir #}
{% block blog_body %}
{% endblock %}
{% endblock %}